/.prettierignore
/.prettierrc.json
/tsconfig.dev.json
*.snap
/.projen/**
/.projen/deps.json
/.projen/files.json
/.projen/tasks.json
/package-lock.json
/package.json
/API.md
/.devcontainer/devcontainer.json
/eslint.config.mjs
/.vscode/settings.json
/.github/pull_request_template.md
/.github/ISSUE_TEMPLATE/bug.yml
/.github/ISSUE_TEMPLATE/feature.yml
/.github/ISSUE_TEMPLATE/housekeeping.yml
/.github/ISSUE_TEMPLATE/question.yml
/cliff.toml
/.github/workflows/release.yml
/.github/workflows/enforce-labels.yml
/.gitattributes
/.gitignore
/CHANGELOG.md
/.commitlintrc.ts
/.husky/commit-msg
/.husky/pre-commit
/.husky/pre-push